html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
}

wrap, .footerwrap, .mainwrap {
    width: 1500px;
    margin: 0 auto;


}

/*header*/

.padding {
    padding: 0px !important;
}

/*
@import url(https://fonts.googleapis.com/css?family=Istok+Web);
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
80% { left: -300%; }
85% { left: -300%; }
90% { left: -400%; }    
100% { left: -400%; }
}
* {
  box-sizing: border-box;
}
body, figure { 
  margin: 0; background: #101010;
  font-family: Istok Web, sans-serif;
  font-weight: 100;
}
div#captioned-gallery { 
  width: 100%; overflow: hidden; 
}
figure.slider { 
  position: relative; width: 500%;
  font-size: 0; animation: 30s slidy infinite; 
}



.this5 {
  position: relative; width: 500%;
  font-size: 0; animation: 20s slidy infinite; 
}
figure.slider figure { 
  width: 20%; height: auto;
  display: inline-block;  position: inherit; 
}
figure.slider img { width: 100%; height: auto; }
figure.slider figure figcaption { 
  position: absolute; bottom: 0;
  background: rgba(0,0,0,0.4);
  color: #fff; width: 100%;
  font-size: 2rem; padding: .6rem; 
}
*/


/*logo*/

.navbar-brand {
    width: 200px;
    height: 80px;
}


.img_logo {
    margin-top: 16px;
     max-width: 100%;
    max-height: 100%;
}

/*nav*/

.bg_color {
    background-color: black !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color:rgba(255,255,255,.75) !important;
}



/*slider*/

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: black;
  font-size: 60px;
  position: absolute;
  top: 230px;
  width: 100%;
  text-align: center;
}

.text1 {
  color: black;
  font-size: 30px;
  position: absolute;
  top: 330px;
  width: 100%;
  text-align: center;
}


.button-css {
       color: #000000;
    background-color: #ffffff63;
    background-image: none;
    border-color: #000000;
}

.pointer {
    cursor: pointer;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4s;
  animation-name: fade;
  animation-duration: 4s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/*
.moja-card-group {
    display: flex !important;
    flex-flow: row wrap !important;
}
*/













/*Media Querys*/


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
      font-size: 11px
    }
};





/*
@media only screen and (max-width: 414px){
    
.card-group {
    flex-flow: column !important;
    display:inline !important;
    flex-direction: column !important;
}
    
    
};
*/


/*
@media screen and (max-width: 414px) {
.moja-card-group  {
    -ms-flex-flow: column !important;
    flex-flow: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -ms-flex-wrap: initial !important;
    flex-wrap: initial !important;
    display: inline !important;
}

}
*/


/*@media (min-width: 0px) and (max-width: 414px){
    
    .moja-card-group  {
    -ms-flex-flow: column !important;
    flex-flow: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -ms-flex-wrap: initial !important;
    flex-wrap: initial !important;
    display: inline !important;
}
    
    
    
    
    
}*/